app-header {
  width: 100%;
  height: 60px; /* Altura do cabeçalho */
  /* Adicione outros estilos para o cabeçalho conforme necessário */
}

.content {
  display: flex;
  justify-content: space-between; /* Espaçamento entre os componentes principais e a barra lateral */

}

.main {
  display: flex;
  justify-content: center; /* Centraliza os componentes principais horizontalmente */
  flex-basis: 75%; /* Main ocupa 75% */
  flex-grow: 1; /* Ocupa o espaço restante exceto a barra lateral */
}

app-main-component {
  flex-basis: 25%; /* Cada componente principal ocupa 30% da largura da página */
  /* Adicione outros estilos conforme necessário */
}

.sidebar {

  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha a barra lateral à direita */
  height: 100%;
  flex-basis: 25%; /* Sidebar ocupa 25% */
}

app-side-component {
  width: 100%; /* Ocupa toda a largura da barra lateral */
  height: 100%; /* Ocupa toda a altura da barra lateral */
  flex-basis: 50%;
  /* Adicione outros estilos conforme necessário */
}

.movie-component {
  margin-right: 20px; /* Adjust the space as needed */
}

/* Não é necessário flex-grow: 1 nos componentes principais */
app-main-component,
app-side-component {
  overflow-y: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinhe os elementos no topo */
}

.main {
  display: flex;
  flex-direction: column; /* Adicione uma coluna para melhorar o alinhamento vertical */
}

/* Seu arquivo de estilo (duel.component.scss) */
.highlighted {
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}



