
.movie-poster {
  max-width: 100%;
  max-height: 300px; /* Defina a altura máxima desejada aqui */
  height: auto;
  display: block;
  margin: 0 auto; /* Centraliza a imagem */
  object-fit: cover; /* Mantém a proporção da imagem */
}

/* Additional styling for the component */
div {
  margin-bottom: 1rem;
}

h2 {
  color: #333;
  /* other styles for heading */
}


  h2 {
    font-size: 20px; /* Adjust as needed */
  }

  p {
    font-size: 12px; /* Adjust as needed */
  }


  .not-watched-icon, .watched-icon {
    font-size: 24px; /* Tamanho aumentado */
    cursor: pointer;
  }

  .not-watched-icon {
    color: grey;
  }

  .watched-icon {
    color: green;
  }

  .movie-status {
    margin-left: 8px;
    font-size: 16px;
  }




